<lasso-page/> 

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marko + .architect</title>
    <lasso-head/>
</head>
<body>
    <h1>Marko + .architect</h1>
    <fancy-button count=input.count/>
    <lasso-body/>
</body>
</html>
