<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marko + .architect</title>
</head>
<body>
    <h1>Marko + .architect</h1>
    <fancy-button count=input.count/>
</body>
</html>
