<lasso-page cache-key="get-index"/>

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marko + .architect</title>
    <lasso-head/>
</head>
<body>
    <h1>Marko + .architect</h1>
    <fancy-button/>
    <lasso-body/>
</body>
</html>
